{% extends 'mailing/base.html' %}
{% load static %}
{% load custom_tags %}
{% block content %}
<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="mr-3">Список рассылок</h1>
        {% if not user|is_manager %}
            <a href="{% url 'mailing_create' %}" class="btn btn-light" data-toggle="tooltip" data-placement="top" title="Добавить рассылку">
                <img src="{% static 'images/add_icon.png' %}" alt="Добавить рассылку" style="width: 30px; height: 30px;">
            </a>
        {% endif %}
    </div>
    <table class="table table-secondary table-hover">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                {% if user|is_manager %}
                    <th>Email пользователя</th>
                {% endif %}
                <th>Время рассылки</th>
                <th>Периодичность</th>
                <th>Статус</th>
                <th>Детали</th>
            </tr>
        </thead>
        <tbody>
            {% for mailing in mailings %}
            <tr>
                <td>{{ mailing.id }}</td>
                {% if user|is_manager %}
                    <td>{{ mailing.user.email }}</td>
                {% endif %}
                <td>{{ mailing.send_time }}</td>
                <td>{{ mailing.send_frequency }}</td>
                <td>{{ mailing.status }}</td>
                <td>
                    <a href="{% url 'mailing_detail' mailing.pk %}" class="btn btn-outline-secondary"data-toggle="tooltip" data-placement="top" title="Подробнее">
                        <img src="{% static 'images/more_detail.png' %}" alt="подробнее" style="width: 30px; height: 30px;">
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">Нет доступных рассылок.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
