{% extends 'mailing/base.html' %}
{% load static %}
{% load custom_tags %}

{% block content %}
<div class="container mt-5 mb-5">
    <div class="card shadow">
        <div class="card-body">
            <h1 class="card-title">Детали рассылки</h1>
            <p class="card-text"><strong>ID:</strong> {{ mailing.id }}</p>
            <p class="card-text"><strong>Время рассылки:</strong> {{ mailing.send_time }}</p>
            <p class="card-text"><strong>Периодичность:</strong> {{ mailing.send_frequency }}</p>
            <p class="card-text"><strong>Статус:</strong> {{ mailing.status }}</p>
            <p class="card-text"><strong>Дата начала:</strong> {{ mailing.start_date }}</p>
            <p class="card-text"><strong>Дата окончания:</strong> {{ mailing.end_date }}</p>
            <p class="card-text"><strong>Клиенты:</strong>
                {% for client in mailing.clients.all %}
                    {{ client.full_name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
        </div>
    </div>

    <div class="btn-group mt-3" role="group">
        {% if user|is_manager %}
            {% if mailing.status != 'completed' %}
                <a href="{% url 'complete_mailing' mailing.pk %}" class="btn btn-success">
                    <i class="fas fa-check"></i> Завершить рассылку
                </a>
            {% endif %}
        {% else %}
            <a href="{% url 'mailing_update' mailing.pk %}" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Обновить настройки рассылки">
                <img src="{% static 'images/edit_settings_icon.png' %}" alt="update_mailing" style="width: 30px; height: 30px;">
            </a>
            <a href="{% url 'message_update' message.pk %}" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Редактировать сообщение">
                <img src="{% static 'images/edit_mail_icon.png' %}" alt="edit_mail" style="width: 30px; height: 30px;">
            </a>
            <a href="{% url 'add_clients_to_mailing' mailing.pk %}" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Добавить клиентов">
                <img src="{% static 'images/add_clients_icon.png' %}" alt="add_clients" style="width: 30px; height: 30px;">
            </a>
            <a href="{% url 'mailing_delete' mailing.pk %}" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Удалить рассылку">
                <img src="{% static 'images/delete_icon.png' %}" alt="delete_mailing" style="width: 30px; height: 30px;">
            </a>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block extra_js %}
  <script src="https://kit.fontawesome.com/your-fontawesome-kit.js"></script> <!-- Подключение FontAwesome -->
{% endblock %}
