{% extends "mailing/base.html" %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Установить новый пароль</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-primary" type="submit">Подтвердить новый пароль</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
