{% extends "mailing/base.html" %}

{% block title %}Проверьте свою почту{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 mx-auto" style="background-color: #f4f4f4; padding: 20px; border-radius: 5px; text-align: center;">
        <h2 style="color: #007bff; font-weight: bold;">Спасибо за регистрацию!</h2>
        <p style="font-size: 18px;">На ваш email было отправлено письмо с ссылкой для подтверждения регистрации. Пожалуйста, проверьте свой почтовый ящик для завершения регистрации.</p>
    </div>
</div>
{% endblock %}