{% extends 'mailing/base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <div class="d-flex align-items-center mb-3">
        <h1 class="flex-grow-1">Список клиентов</h1>
        <a href="{% url 'client_form' %}" class="btn btn-light ml-3" data-toggle="tooltip" data-placement="top" title="Добавить нового клиента">
            <img src="{% static 'images/add_icon.png' %}" alt="Добавить нового клиента" style="width: 30px; height: 30px;">
        </a>
    </div>
    <table class="table table-secondary table-hover">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Клиент</th>
                <th>Комментарий</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.full_name }}</td>
                <td>{{ client.comment }}</td>
                <td>
                    <div class="btn-group" role="group">
                        <a href="{% url 'client_update' client.pk %}" class="btn btn-outline-secondary" data-toggle="tooltip" data-placement="top" title="Редактировать">
                            <img src="{% static 'images/edit_icon.png' %}" alt="Редактировать" style="width: 20px; height: 20px;">
                        </a>
                        <a href="{% url 'client_delete' client.pk %}" class="btn btn-outline-dark" data-toggle="tooltip" data-placement="top" title="Удалить">
                            <img src="{% static 'images/delete_icon.png' %}" alt="Удалить" style="width: 20px; height: 20px;">
                        </a>
                    </div>
                </td>

            </tr>
            {% empty %}
            <tr>
                <td colspan="5">Нет доступных клиентов.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}