{% extends 'mailing/base.html' %}

{% block content %}
<div class="row">
    <div class="col">
        {% if client %}
            <h1>Редактировать клиента</h1>
        {% else %}
            <h1>Добавить клиента</h1>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">
                {% if client %}
                    Сохранить
                {% else %}
                    Добавить
                {% endif %}
            </button>
        </form>
    </div>
</div>
{% endblock %}
